// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("../fonts/HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../fonts/HelveticaNeueLight.ttf");
}

@font-face {
  font-family: "HelveticaNeuBold";
  src: url("../fonts/HelveticaNeuBold.ttf");
}

