$bannerMBMob: calcRem(40);
$bannerMBMD: calcRem(60);
$bannerMBLG: calcRem(80);
$bannerMBXL: calcRem(110);

.banner-bk {
    position: relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    margin-bottom: $bannerMBMob;

    @include mq('md') {
        margin-bottom: $bannerMBMD;
        min-height: 350px;
    }

    @include mq('lg') {
        margin-bottom: $bannerMBLG;
    }


    @include mq('xl') {
        min-height: 576px;
        margin-bottom: $bannerMBXL;
    }

    .banner-title {
        position: relative;
        z-index: 2;
        color: $white;
        font-size: calcRem(42);
        font-family: $bold-font;

        @include mq('md') {
            font-size: calcRem(55);
        }

        @include mq('xl') {
            font-size: calcRem(72);
        }
    }

    &::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 110, 183, 0.2);
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    &.yellow-overlay {
        &::after {
            background-color: rgb(187 143 16 / 20%);
        }
    }
}

.banner-img {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 250px;
    margin-bottom: $bannerMBMob;
    background-color: #E9F3EA;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding: 25px 0;

    &::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.35);
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;

        @include mq('lg') {
            display: none;
        }
    }

    @include mq('md') {
        margin-bottom: $bannerMBMD;
        min-height: 350px;
    }

    @include mq('lg') {
        margin-bottom: $bannerMBLG;
        background-size: 50% 100%;
        color: $dark;

    }


    @include mq('xl') {
        min-height: 500px;
        margin-bottom: $bannerMBXL;
        background-size: 700px 100%;
    }

    .banner-title {
        position: relative;
        z-index: 2;
        font-size: calcRem(42);
        font-family: $bold-font;

        @include mq('md') {
            font-size: calcRem(55);
        }

        @include mq('xl') {
            font-size: calcRem(72);
        }
    }

    .banner-subtitle {
        position: relative;
        z-index: 2;
        font-size: calcRem(20);

        @include mq('md') {
            font-size: calcRem(24);
        }

        @include mq('xl') {
            font-size: calcRem(32);
        }
    }
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 250px;
    margin-bottom: $bannerMBMob;
    background-color: #FFF8E5;
    color: $dark;
    padding: 25px 0;

    @include mq('md') {
        margin-bottom: $bannerMBMD;
        min-height: 350px;
    }

    @include mq('lg') {
        margin-bottom: $bannerMBLG;

    }


    @include mq('xl') {
        min-height: 500px;
        margin-bottom: $bannerMBXL;
    }

    .content {
        @include mq('lg') {
            max-width: 80%;
        }
    }

    .banner-title {
        position: relative;
        z-index: 2;
        font-size: calcRem(42);
        font-family: $bold-font;

        @include mq('md') {
            font-size: calcRem(55);
        }

        @include mq('xl') {
            font-size: calcRem(72);
        }
    }

    .banner-subtitle {
        position: relative;
        z-index: 2;
        font-size: calcRem(20);

        @include mq('md') {
            font-size: calcRem(24);
        }
    }
}

// banner container

.banner-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: $bannerMBMob;

    img {
        object-fit: cover;
    }

    @include mq('md') {
        margin-bottom: $bannerMBMD;
        min-height: 350px;
    }

    @include mq('lg') {
        margin-bottom: $bannerMBLG;
        color: $dark;

    }

    @include mq('xl') {
        min-height: 500px;
        margin-bottom: $bannerMBXL;
    }

}