.btn {
    border-radius: 2px;
    padding: calcRem(11) calcRem(33);
    font-family: $medium-font;
}

.btn-primary {
    background-color: $primary;
    position: relative;
    color: $white;
    border-color: $primary;

    &:hover {
        background-color: #0a6dab;
        border-color: #0a6dab;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: #0a6dab;
        border-color: #0a6dab;
    }

}

.btn-outline-primary {
    color: $primary;
    border-color: $primary;

    &:hover {
        background-color: #0a6dab;
        border-color: #0a6dab;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: #0a6dab;
        border-color: #0a6dab;
    }
}

.btn-warning {
    background-color: $brand-color;
    position: relative;
    color: $white;
    border-color: $brand-color;

    &:hover {
        background-color: #937120;
        border-color: #937120;
        color: $white;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: #937120;
        border-color: #937120;
        color: $white;
    }

}

.btn-outline-warning {
    color: $brand-color;
    border-color: $brand-color;

    &:hover {
        background-color: $brand-color;
        border-color: $brand-color;
        color: $white;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: $brand-color;
        border-color: $brand-color;
        color: $white;
    }
}



.btn-success {
    background-color: $valid-color;
    position: relative;
    color: $white;
    border-color: $valid-color;

    &:hover {
        background-color: #34b34f;
        border-color: #34b34f;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: #34b34f;
        border-color: #34b34f;
    }

}