
.sponsor-grid {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .sponsor {
        padding: 25px 44px;

        img {
            width: 100%;
            object-fit: contain;
            max-width: 100%;
        }
    }
}