.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Header and footer top and buttom
    .footer {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
        overflow: hidden;
    }

    // Main Css
    .main {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        z-index: 1;
    }
}